
/* MAIN ELEMENTS START */

html {
    background-color: #e7be6e;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, sans-serif;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* MAIN ELEMENTS END */

/* NAV ELEMENTS START */

/* NAV ELEMENTS START */

nav {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
}

nav img {
    height: 13vw;
    padding-top: 2vw;
    padding-left: 8vw;
}

nav .logoSection {
    margin-top: -3vw;
    float: left;
}

nav .imageSection {
    margin-right: 4vw;
    float: right;
}

nav .imageSection img {
    height: 10vw;
    margin-top: -3vw;
    padding-left: 10vw;
    padding-right: 4vw;
}

#workNav {
    overflow: hidden;
    display: block;
    width: 100%;
}

#workNav img {
    height: 13vw;
    padding-top: 2vw;
    padding-left: 8vw;
}

#workNav .logoSection {
    margin-top: -3vw;
    float: left;
}

#workNav .imageSection {
    margin-right: 4vw;
    float: right;
}

#workNav .imageSection img {
    height: 10vw;
    margin-top: -3vw;
    padding-left: 10vw;
    padding-right: 4vw;
}

/* NAV ELEMENTS END */

/* WORK PAGE ELEMENTS START */

#starterText {
    display: inline-block;
    width: 100vw;
    position: relative;
    overflow: hidden;
    margin-bottom: 20vw;
}

#introImg {
    margin-top: 1.4vw;
    margin-left: 27vw;
    height: 26vw;

    animation: scaleUp 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes scaleUp {
    to {
        transform: scale(50);
    }
}

#imageContainer {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
    display: block;
}

#imageContainer .tallImg {
    border-style: solid;
    border-width: 0.5vw;
    border-color: #e1a559;
    width: 48.81vw;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

#imageContainer .threeWayImg {
    border-style: solid;
    border-width: 0.5vw;
    border-color: #e1a559;
    width: 32.1vw;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

#imageContainer .longImg {
    border-style: solid;
    border-width: 0.5vw;
    border-color: #e1a559;
    height: 100%;
    width: 99vw;
    display: inline-block;
}

.comicStrip {
    padding-top: 0.52vw;
}

.mediumDesc {
    text-align: center;
    margin-bottom: 2vw;
}

.individualImage {
    position: relative;
    display: inline-block;
}

.imageCaption {
    display: flex;
    box-shadow: 0px 0px 150px white inset, 0px 0px 10px white;
    position: absolute;
    width: 50%;
    height: 7%;
    bottom: 2%;
    left: 25%;
    margin: 0;
    padding-top: 0.5vw;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.longImg:hover + .imageCaption,
.tallImg:hover + .imageCaption,
.individualImage a:hover + .imageCaption,
.imageCaption:hover {
    opacity: 1;
}

/* WORK PAGE ELEMENTS END */

/* GIF ELEMENTS START */

.fullPageGif {
    scale: 80%;
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

/* GIF ELEMENTS END */
