doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Olivia Website
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/css/home.css')
nav
  .logo-section
    img(src='/assets/logo.png' alt='logo')
  .image-section
    img(src='/assets/about.png' alt='about')
    img(src='/assets/work.png' alt='work')
    img(src='/assets/contact.png' alt='contact')
