html {
    background-color: #f7eac5;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    overflow: hidden;
}

nav img {
    height: 120px;
    padding-top: 20px;
    padding-left: 60px;
}

nav .logo-section {
    float: left;
}

nav .image-section {
    float: right;
}

nav .image-section img {
    height: 150px;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 70px;
}